<div class="container">
  <app-navbar (onFilterDuAn)="handleFilterDuAn($event)"></app-navbar>
  <nav class="bg-light p-2">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
      <li class="breadcrumb-item" aria-current="page">Dự án</li>
    </ol>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="bg-dark text-white">
    <p class="text-center p-4 m-0">Footer Content</p>
  </div>

  <footer class="bg-dark text0-white" style="height: 45px"></footer>
</div>
