<form class="mt-3">
  <h4 class="my-3 p-3 fs-5 shadow-lg rounded">THÊM DỰ ÁN</h4>

  <p class="mb-3" type="text">
    Tên dự án
    <input class="form-control" name="tenDuAn" [(ngModel)]="duAn.tenDuAn" />
  </p>
  <p class="mb-3" type="text">
    Ngày bắt đầu
    <input class="form-control" name="ngayStart" [(ngModel)]="duAn.ngayStart" />
  </p>
  <p class="mb-3">
    Tiền <input class="form-control" name="tien" [(ngModel)]="duAn.tien" />
  </p>
  <p class="mb-3">
    Leader
    <select class="form-control" name="leader" [(ngModel)]="duAn.leader">
      <option>-</option>
      <option>Đào Đức Minh Khôi</option>
      <option>Trần Cao Gia Luật</option>
    </select>
  </p>
  <p class="mb-3">
    Thành viên
    <select
      multiple
      size="5"
      class="form-control"
      name="thanhvien"
      [(ngModel)]="duAn.thanhvien"
    >
      <option [value]="nv.id" *ngFor="let nv of employeeList">
        {{ nv.ho }} {{ nv.ten }}
      </option>
    </select>
  </p>
  <p><button class="btn btn-primary p-2" (click)="handleAddDuAn()">Thêm dự án</button></p>
</form>
